#deadline-form-title{
    color: var(--color-primary);
    font-weight: 500;
    margin-top: 8px;
}

.form-group input{
    border-radius: var(--radius);
    width: 100%;
    max-width: 150px;
}

.form-actions{
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.save-button{
    background-color: var(--color-completed);
    color: white;
    border-radius: var(--radius);
    padding: 8px;
    border: none;
    box-shadow: var(--shadow);
    font-size: 1rem;
}

.cancel-button{
    background-color: var(--color-not-started);
    color: white;
    border-radius: var(--radius);
    padding: 8px;
    border: none;
    box-shadow: var(--shadow);
    font-size: 1rem;
}