.quick-actions{
    margin: 20px;
    margin-bottom: 0;
}

.action-buttons, 
.export-import-buttons{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.quick-actions button{
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 24px;
    border: none;
    box-shadow: var(--shadow);
    width: 383px;
    color: var(--color-background);
}

.complete-button{
    background-color: var(--color-completed);
}

.reset-button,
.reset-import-button{
    background-color: var(--color-not-started);
    
}

.export-button,
.import-button,
.api-button{
    background-color: var(--color-in-progress);
}
