.quick-actions{
    margin: 20px;
    margin-bottom: 0;
}

.action-buttons{
    /* display: flex;
    align-self: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.quick-actions button{
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 24px;
    border: none;
    color: var(--color-background);
    box-shadow: var(--shadow);
}

.complete-button{
    background-color: var(--color-completed);
}

.reset-button{
    background-color: var(--color-not-started);
}

.export-button{
    background-color: var(--color-in-progress);
}