
.technologies-list{
    margin: 20px;
}

.technologies-list h2{
    color: var(--color-title);
}

.technologies-list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 20px;
    padding: 0;
}

.technologies-list li{
    background-color: var(--color-cards);
    border-radius: var(--radius);
    padding: 8px;

    transition: all 0.25s ease;
}

.not-started{
    border: 2px solid var(--color-not-started);
    outline: 1px solid var(--color-not-started);
    outline-offset: 3px;
}

.in-progress{
    border: 2px solid var(--color-in-progress);
    outline: 1px solid var(--color-in-progress);
    outline-offset: 3px;
}

.completed{
    border: 2px solid var(--color-completed);
    outline: 1px solid var(--color-completed);
    outline-offset: 3px;
}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technologies-list h3{
    margin: 0;
    margin-bottom: 0.5em;
    color: var(--color-title);
}

.description{
    margin: 0;
    font-size: 18px;
    color: var(--color-primary);
}

.status-icon{
    margin: 0;
    font-size: 32px;
}

.notes-delete__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-button,
.selection-indicator{
    margin: 0;
    font-size: 32px;
    align-self: end;
    background: none;
    border: none;
    cursor: pointer;
}

.set-deadline-button,
.bulk-edit-toggle{
    border-radius: var(--radius);
    padding: 8px;
    border: none;
    background-color: white;
    box-shadow: var(--shadow);
    margin-top: 8px;
    color: var(--color-primary);
    cursor: pointer;
    font-size: 1rem;
}
